*,
*::after,
*::before {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

body {
  /* background-color: rgb(239, 80, 80); */
}

img {
  width: 100%;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

li {
  padding: 0;
}

a {
  color: inherit;

  text-decoration: none;
}

.container {
  position: relative;
  max-width: 1130px;
  width: 100%;

  padding: 0 15px;
  margin: 0 auto;
}

#root {
  font-size: 16px;
}

h1 {
  padding-top: 30%;
  margin-bottom: 3%;

  color: #fff;

  font-family: serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2em;
  text-align: center;
}

.btn-sub {
  display: block;
  padding: 15px 40px;
  border: 3px solid #fff;
  border-radius: 15px;
  margin: 0 auto;

  color: #fff;
  background-color: rgb(239, 80, 80);

  transition: all .3s linear;

  font-family: serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.2em;
}

.btn-sub:hover{
  background-color: rgb(88, 24, 24);
}

.spam-window {
  position: absolute;

  width: 100%;
  height: 100vh;

  top: 0;
  left: 0;

  z-index: 99;

  background-color: blueviolet;
}

.title-spam-window{
  text-align: center;
  margin-top: 35%;

  color: #fff;

  font-family: serif;
  font-weight: 700;
  font-size: 68px;
  line-height: 1.2em;
  text-transform: uppercase;
}

.btn-close-spam-window{
  position: absolute;

  padding: 10px 15px;
  border: none;
  border-radius: 5px;

  top: 10px;
  right: 10px;

  color: #fff;
  background-color: rgb(166, 163, 163);

  cursor: pointer;

  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;

}
